<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Your name">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Your name professional website">
    <title>Nathan Yao CV</title>
    <!-- Google Fonts embed code -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    
    <!-- Your stylesheet -->
    <link rel="stylesheet" href="../static/style.css">
    <!-- Script -->
    <script src="../static/script.js" defer></script>
</head>
<body>
    <header>
      <h1, id="webname">Nathan Yao</h1>
        <nav>
            <A HREF="../index.html">Profile</A>
            <a href="cv.html">Resume</a>
            <A HREF="contact.html">Contact me</A>
            <A HREF="fun.html">Fun</A>
        </nav>
    </header>
    <div class = "main">
        <h2>Contact Me</h2>
    </div>
    <form action="/submit" method="post">
        <div>
          <label for="name">Name:</label>
          <input type="text" id="name" name="name" required>
        </div>
        <div>
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" required>
        </div>
        <div>
          <label for="comment">Comment:</label>
          <textarea id="comment" name="comment" required></textarea>
        </div>
        <input type="submit" value = "submit" onclick = "validate()">
      </form>

       <div id="message"></div>

      <footer id="copyYear" >© designed and coded by Nathan Yao </footer>
    <table border="1">
        <tr>
          <td>Email</td>
          <td>Phone Number(not real)</td>
        </tr>
        <tr>
          <td>nyao2@andrew.cmu.edu</td>
          <td>(555)-555-5555</td>
        </tr>
      </table>
</body>
</html>
