<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Your name">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Your name professional website">
    <title>Nathan Yao CV</title>
</head>
<body style="font-family: Arial">
    <header>
        <h1>Nathan Yao</h1>
        <nav>
            <A HREF="../index.html">Home</A>
            <a href="cv.html">CV</a>
            <A HREF="contact.html">Contact me</A>
            <A HREF="fun.html">For Fun</A>
        </nav>
    </header>
    <div class = "main">
        <h2>Curriculum Vitae</h2>
    </div>
    <table border="1">
        <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Bay Area Rapid Transit (BART)</td>
            <td>Developed a scheduling and event dashboard by integrating 11 APIs, enhancing information aggregation and operational efficiency for the mechanical engineering team.
                Designed a real-time display system, improving data visualization and accessibility over an 8-week period.
            </td>
          </tr>
          <tr>
            <td>CompassPoint Mentorship</td>
            <td>Architected and developed the Alviso Environmental Monitoring Dashboard, a comprehensive system for tracking environmental parameters. 
                Implemented air pollution and noise monitoring systems using SparkFun hardware, Raspberry Pi, and Python.
                Developed a Python-based RESTful data server utilizing Azure Cloud services for efficient data management.
                Instructed students in kayaking, woodworking, and other subjects as a Teaching Assistant during summer camps.
                </td>
          </tr>
        </tbody>
      </table>
      <A HREF="../static/resume.pdf">My resume (pdf)</A>
    <footer>© 2025 designed and coded by Nathan Yao </footer>
</body>
</html>